Workflows/CaseSamplingValidateImportDataInstant-62D02995-9A18-F111-8342-00224800D883.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedcommondataserviceforapps_7e24f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedoffice365_279f2"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "staticResults": {
        "Get_ProductLineConfig0": {
          "status": "Failed",
          "error": {
            "code": "NotSpecified",
            "message": "Unknown error"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4c69473d-2d94-4f7f-9e5a-44626fbd33ed"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text": {
                  "title": "ProductLineId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "CaseTypeId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "ImportLogId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Run_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2f4bdebb-e69b-49a8-9222-75dd330181ac"
              },
              "type": "Compose",
              "inputs": "@concat('https://make.powerautomate.com/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']?['name'])"
            },
            "Has_Errors_IngestionFile": {
              "actions": {
                "Map_ParseErrors": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d4f70681-8818-57ea-d5ff-42e05d384c20"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('IngestionFileErrors')",
                    "select": {
                      "row": "@item()?['RowNumber']",
                      "column": null,
                      "rule": "ParseError",
                      "expected": null,
                      "actual": "@string(item()?['Data'])",
                      "message": "@item()?['ErrorMessage']"
                    }
                  }
                },
                "Set_variable_Errors_IngestionFile": {
                  "runAfter": {
                    "Map_ParseErrors": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "56331921-8eaa-4862-b573-e5b1e34c5570"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Errors",
                    "value": "@body('Map_ParseErrors')"
                  }
                }
              },
              "runAfter": {
                "IngestionFileErrors": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_ProductLineConfig": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1c65438a-9929-402b-acb1-a821d69a5d60"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "dwp_productlineconfigs",
                        "$select": "dwp_name,dwp_ProductLineId,dwp_samplesize,dwp_date",
                        "$filter": "_dwp_productlineid_value eq '@{triggerBody()['text']}'",
                        "$top": 1
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      }
                    },
                    "runtimeConfiguration": {
                      "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Get_ProductLineConfig0"
                      }
                    }
                  },
                  "Get_AssuranceTypeConfig": {
                    "runAfter": {
                      "Get_ProductLineConfig": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "68ba84ec-0d27-4250-9a59-738cbcaca8a2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "dwp_assurancetypeeventcodeconfigs",
                        "$select": "dwp_name,dwp_AssuranceTypeId,dwp_EventCodeColumnId,dwp_eventcodevalue,dwp_ProductLineConfigId",
                        "$filter": "_dwp_productlineconfigid_value eq '@{outputs('Get_ProductLineConfig')?['body/value']?[0]?['dwp_productlineconfigid']}' and dwp_AssuranceTypeId/dwp_name eq 'New Claim'",
                        "$top": 1,
                        "$expand": "dwp_EventCodeColumnId($select=dwp_name),dwp_AssuranceTypeId($select=dwp_name)"
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Get_ExpectedColumns": {
                    "runAfter": {
                      "Get_ProductLineConfig": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "34aba8bd-af1a-4d12-b897-b97bb3893565"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "dwp_ingestionfileexpectedcolumns",
                        "$select": "dwp_name",
                        "$filter": "_dwp_productlineconfigid_value eq '@{outputs('Get_ProductLineConfig')?['body/value']?[0]?['dwp_productlineconfigid']}'"
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      }
                    }
                  },
                  "EventCodeColumnName": {
                    "runAfter": {
                      "Get_AssuranceTypeConfig": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6bb87260-a86a-4396-92af-c3ce97f03ac1"
                    },
                    "type": "Compose",
                    "inputs": "@trim(outputs('Get_AssuranceTypeConfig')?['body/value']?[0]?['dwp_eventcodecolumnid/dwp_name'])"
                  },
                  "CaseTypeName": {
                    "runAfter": {
                      "EventCodeColumnName": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6bb87260-a86a-4396-92af-c3ce97f03ac1"
                    },
                    "type": "Compose",
                    "inputs": "@trim(outputs('Get_AssuranceTypeConfig')?['body/value']?[0]?['dwp_assurancetypeid/dwp_name'])"
                  },
                  "EventCodeValue": {
                    "runAfter": {
                      "NewClaimAssuranceTypeId": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6bb87260-a86a-4396-92af-c3ce97f03ac1"
                    },
                    "type": "Compose",
                    "inputs": "@trim(outputs('Get_AssuranceTypeConfig')?['body/value']?[0]?['dwp_eventcodevalue'])"
                  },
                  "Map_ExpectedColumnName": {
                    "runAfter": {
                      "Get_ExpectedColumns": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "cf6c8c0c-4df2-4bc8-8890-8c30b7091e21"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@outputs('Get_ExpectedColumns')?['body/value']",
                      "select": "@item()['dwp_name']"
                    }
                  },
                  "Filter_IngestionFileHeaders_NotContains_EventCodeColumnName": {
                    "runAfter": {
                      "EventCodeValue": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e31534ee-10ff-4d5f-bce5-8b5a2e295818"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('IngestionFileHeaders')",
                      "where": "@not(contains(item(), outputs('EventCodeColumnName')))"
                    }
                  },
                  "Filter_ExpectedColumnMismatches": {
                    "runAfter": {
                      "Map_ExpectedColumnName": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "871b1615-9f83-4cb1-8dd8-97d65a88667c"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@body('Map_ExpectedColumnName')",
                      "where": "@not(contains(outputs('IngestionFileHeaders'), item()))"
                    }
                  },
                  "Filter_HeaderMismatches": {
                    "runAfter": {
                      "Filter_ExpectedColumnMismatches": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "871b1615-9f83-4cb1-8dd8-97d65a88667c"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('IngestionFileHeaders')",
                      "where": "@not(contains(body('Map_ExpectedColumnName'), item()))"
                    }
                  },
                  "Has_ExpectedColumnMismatch": {
                    "actions": {
                      "Append_to_Errors_ExpectedColumnMismatch": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "db331e8d-3ffe-4c23-b70d-b4070a09c6c9"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "Errors",
                          "value": {
                            "row": null,
                            "column": null,
                            "rule": "ExpectedColumnCheck",
                            "expected": "@{join(body('Filter_ExpectedColumnMismatches'), ', ')}",
                            "actual": null,
                            "message": "@{concat('Expected column(s) not found in file: ', join(body('Filter_ExpectedColumnMismatches'), ', '))}"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_HeaderMismatches": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_ExpectedColumnMismatches'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fd95386c-03d0-4f2e-9988-6d543d4c99b4"
                    },
                    "type": "If"
                  },
                  "Has_HeaderMismatch": {
                    "actions": {
                      "Append_to_Errors_HeaderMismatch": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "774be900-c77a-4db8-bc4f-4cafa1b0db77"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "Errors",
                          "value": {
                            "row": null,
                            "column": null,
                            "rule": "UnexpectedColumnCheck",
                            "expected": null,
                            "actual": "@{join(body('Filter_HeaderMismatches'), ', ')}",
                            "message": "@{concat('File contains unexpected column(s) not in expected columns: ', join(body('Filter_HeaderMismatches'), ', '))}"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Has_ExpectedColumnMismatch": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_HeaderMismatches'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fd95386c-03d0-4f2e-9988-6d543d4c99b4"
                    },
                    "type": "If"
                  },
                  "Not_In_Headers_EventCodeColumnName": {
                    "actions": {
                      "Append_to_Errors_NotInHeadersEventCodeColumnName": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c57bd88d-6dd0-4a44-a00b-5c83fc73d757"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "Errors",
                          "value": {
                            "row": null,
                            "column": "@{outputs('EventCodeColumnName')}",
                            "rule": "EventCodeColumnExists",
                            "expected": "@{outputs('EventCodeColumnName')}",
                            "actual": null,
                            "message": "@{concat('Event code column not found in file headers: ', outputs('EventCodeColumnName'))}"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_IngestionFileHeaders_NotContains_EventCodeColumnName": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Is_ParameterNewClaim": {
                          "actions": {
                            "Filter_IngestionFileData_NotContains_EventCodeValue": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "f5a4d727-3344-4014-a860-ccbd8703b5d9"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@outputs('IngestionFileData')",
                                "where": "@not(equals(item()?[outputs('EventCodeColumnName')], outputs('EventCodeValue')))"
                              },
                              "description": "This path is for assurance types that are 'New Claim' so we should not have any other Event Code Values in the data"
                            },
                            "Has_NewClaimEventCodeValueMismatch": {
                              "actions": {
                                "Map_NewClaimEventCodeErrors": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "dba7c172-1882-437e-812c-74bdd5ffce44"
                                  },
                                  "type": "Select",
                                  "inputs": {
                                    "from": "@body('Filter_IngestionFileData_NotContains_EventCodeValue')",
                                    "select": {
                                      "row": "@item()?['RowNumber']",
                                      "column": "@{outputs('EventCodeColumnName')}",
                                      "rule": "EventCodeMatch",
                                      "expected": "@{outputs('EventCodeValue')}",
                                      "actual": "@{item()?[outputs('EventCodeColumnName')]}",
                                      "message": "@{concat('Row ', item()?['RowNumber'], ': Event code is ', item()?[outputs('EventCodeColumnName')], ' - expected ', outputs('EventCodeValue'), ' for New Claim')}"
                                    }
                                  }
                                },
                                "Compose_MergedErrors_NewClaim": {
                                  "runAfter": {
                                    "Map_NewClaimEventCodeErrors": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "dba7c172-1882-437e-812c-74bdd5ffce46"
                                  },
                                  "type": "Compose",
                                  "inputs": "@union(variables('Errors'), body('Map_NewClaimEventCodeErrors'))"
                                },
                                "Set_variable_Errors_NewClaimMismatch": {
                                  "runAfter": {
                                    "Compose_MergedErrors_NewClaim": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "dba7c172-1882-437e-812c-74bdd5ffce45"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "Errors",
                                    "value": "@outputs('Compose_MergedErrors_NewClaim')"
                                  }
                                }
                              },
                              "runAfter": {
                                "Filter_IngestionFileData_NotContains_EventCodeValue": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "greater": [
                                  "@length(body('Filter_IngestionFileData_NotContains_EventCodeValue'))",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "be504773-8340-4ad5-891c-1f0f8b2055ff"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Filter_IngestionFileData_Contains_EventCodeValue": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "f5a4d727-3344-4014-a860-ccbd8703b5d9"
                                },
                                "type": "Query",
                                "inputs": {
                                  "from": "@outputs('IngestionFileData')",
                                  "where": "@equals(item()?[outputs('EventCodeColumnName')], outputs('EventCodeValue'))"
                                },
                                "description": "This path is for assurance types that aren't 'New Claim' so we should not have 'New Claim' Event Code Values in the data"
                              },
                              "Has_NotNewClaimEventCodeValueMismatch": {
                                "actions": {
                                  "Map_NotNewClaimEventCodeErrors": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "e44cd68e-6d81-4e7a-9a86-1260a467bc72"
                                    },
                                    "type": "Select",
                                    "inputs": {
                                      "from": "@body('Filter_IngestionFileData_Contains_EventCodeValue')",
                                      "select": {
                                        "row": "@item()?['RowNumber']",
                                        "column": "@{outputs('EventCodeColumnName')}",
                                        "rule": "EventCodeMatch",
                                        "expected": null,
                                        "actual": "@{item()?[outputs('EventCodeColumnName')]}",
                                        "message": "@{concat('Row ', item()?['RowNumber'], ': Contains New Claim event code ', outputs('EventCodeValue'), ' - not expected for the selected case type')}"
                                      }
                                    }
                                  },
                                  "Compose_MergedErrors_NotNewClaim": {
                                    "runAfter": {
                                      "Map_NotNewClaimEventCodeErrors": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "e44cd68e-6d81-4e7a-9a86-1260a467bc74"
                                    },
                                    "type": "Compose",
                                    "inputs": "@union(variables('Errors'), body('Map_NotNewClaimEventCodeErrors'))"
                                  },
                                  "Set_variable_Errors_NotNewClaimMismatch": {
                                    "runAfter": {
                                      "Compose_MergedErrors_NotNewClaim": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "e44cd68e-6d81-4e7a-9a86-1260a467bc73"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "Errors",
                                      "value": "@outputs('Compose_MergedErrors_NotNewClaim')"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Filter_IngestionFileData_Contains_EventCodeValue": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "greater": [
                                    "@length(body('Filter_IngestionFileData_Contains_EventCodeValue'))",
                                    0
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "48c92fcb-b92d-47ee-8688-0df7e38432c1"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@triggerBody()['text_1']",
                              "@outputs('NewClaimAssuranceTypeId')"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6191f47d-d695-44b3-9f66-4e857c624bd1"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "not": {
                        "contains": [
                          "@outputs('IngestionFileHeaders')",
                          "@outputs('EventCodeColumnName')"
                        ]
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "84369a36-7a21-4a90-92f0-642ef4746f9f"
                    },
                    "type": "If"
                  },
                  "NewClaimAssuranceTypeId": {
                    "runAfter": {
                      "CaseTypeName": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6bb87260-a86a-4396-92af-c3ce97f03ac1"
                    },
                    "type": "Compose",
                    "inputs": "@trim(outputs('Get_AssuranceTypeConfig')?['body/value']?[0]?['dwp_assurancetypeid/dwp_assurancetypeid'])"
                  },
                  "Set_variable_Date_Name": {
                    "runAfter": {
                      "Get_ProductLineConfig": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "66318766-864d-4604-8f76-e5a98ebccdee"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Date Name",
                      "value": "@outputs('Get_ProductLineConfig')?['body/value'][0]?['dwp_date']"
                    }
                  },
                  "Select_Date_field": {
                    "runAfter": {
                      "Set_variable_Date_Name": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dbfe7285-70cf-4755-9959-cb632ce73f01"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@outputs('IngestionFileData')",
                      "select": {
                        "Date": "@formatDateTime(addDays('1899-12-30', int(item()?[variables('Date Name')])), 'yyyy-MM-dd') "
                      }
                    }
                  },
                  "Compose_Date_field": {
                    "runAfter": {
                      "Select_Date_field": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "45939ce4-0f4b-4eae-b12f-bfa40ac237d3"
                    },
                    "type": "Compose",
                    "inputs": "@sort(body('Select_Date_field'),'Date')"
                  },
                  "Set_variable_StartDate": {
                    "runAfter": {
                      "Compose_Date_field": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d92c67f8-bf1d-47a2-85af-fa3e8f22208f"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "StartDate",
                      "value": "@first(outputs('Compose_Date_field'))"
                    }
                  },
                  "Set_variable_EndDate": {
                    "runAfter": {
                      "Set_variable_StartDate": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0611ffc8-1e69-4644-964a-a69f3eaf7ac6"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Enddate",
                      "value": "@last(outputs('Compose_Date_field'))"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('IngestionFileErrors'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "980c3f74-621a-4109-a362-0a909bc23da4"
              },
              "type": "If"
            },
            "IngestionFileHeaders": {
              "runAfter": {
                "Parse_Ingestion_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b07dd9b-76b9-4fe0-96c9-2125d1a8f720"
              },
              "type": "Compose",
              "inputs": "@json(outputs('Parse_Ingestion_File')?['Body']?['headers'])"
            },
            "IngestionFileData": {
              "runAfter": {
                "IngestionFileHeaders": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b07dd9b-76b9-4fe0-96c9-2125d1a8f720"
              },
              "type": "Compose",
              "inputs": "@json(outputs('Parse_Ingestion_File')?['Body']?['data'])"
            },
            "Set_variable_TotalRows": {
              "runAfter": {
                "IngestionFileData": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c3e60570-7707-56d9-c4fe-31f94c273b1f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TotalRows",
                "value": "@length(outputs('IngestionFileData'))"
              }
            },
            "IngestionFileErrors": {
              "runAfter": {
                "Set_variable_TotalRows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b07dd9b-76b9-4fe0-96c9-2125d1a8f720"
              },
              "type": "Compose",
              "inputs": "@json(outputs('Parse_Ingestion_File')?['Body']?['errors'])"
            },
            "Parse_Ingestion_File": {
              "runAfter": {
                "Run_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4aa5cb67-187a-4d79-b79b-8144299104ce"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8ce76635-371e-f111-8342-00224800d8f0"
                },
                "body": {
                  "text": "@triggerBody()['text_2']",
                  "boolean": true,
                  "number": 781250002,
                  "number_1": 781250000
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_Date_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "19ea0239-c145-4693-a91d-ad2c4ae023d0"
          },
          "type": "Scope"
        },
        "Initialize_variable_Errors": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a1d60570-6607-46c8-b3fd-21e93b162a0d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Errors",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_TotalRows": {
          "runAfter": {
            "Initialize_variable_Errors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2d60570-6607-46c8-b3fd-21e93b162a0e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TotalRows",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Create_Error_Table": {
              "runAfter": {
                "Filter_array_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "01a83cf9-4682-4f74-9cd4-7dad28af369f"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array_Failed')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Action",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['error']?['code']"
                  },
                  {
                    "header": "Message",
                    "value": "@item()?['error']?['message']"
                  },
                  {
                    "header": "Time",
                    "value": "@item()['endTime']"
                  }
                ]
              }
            },
            "Filter_array_Failed": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "99d3e265-8a3f-4c07-b135-e2382418426f"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Set_variable_Errors": {
              "runAfter": {
                "Create_Error_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93ef56c9-176e-4593-8f03-fca7c5ed9595"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Errors",
                "value": [
                  {
                    "row": null,
                    "column": null,
                    "rule": "InfrastructureError",
                    "expected": null,
                    "actual": null,
                    "message": "An internal error occurred while processing the file. The support team has been notified."
                  }
                ]
              }
            },
            "Send_Error_Notification_Email": {
              "runAfter": {
                "Set_variable_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "66666666-7777-8888-9999-aaaaaaaaaaaa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "James.Ryan@dwp.gov.uk;Maheshwar.Yanala@dwp.gov.uk",
                  "emailMessage/Subject": "Action Required: Data Ingestion Automation Error",
                  "emailMessage/Body": "<style>\n/* GDS Table Styles */\ntable {\nborder-collapse: collapse;\nwidth: 100%;\nfont-family: \"GDS Transport\", Arial, sans-serif;\nfont-size: 19px;\ncolor: #0b0c0c;\nmargin-bottom: 30px;\n}\nth {\nborder-bottom: 1px solid #b1b4b6;\ntext-align: left;\npadding: 10px 20px 10px 0;\nfont-weight: 700;\n}\ntd {\nborder-bottom: 1px solid #b1b4b6;\npadding: 10px 20px 10px 0;\ntext-align: left;\nvertical-align: top;\n}\ntr:last-child td {\nborder-bottom: none;\n}\n</style>\n\n<div style=\"font-family: Arial, sans-serif; font-size: 19px; color: #0b0c0c;\">\n\n<p>The data ingestion automation requires attention:</p>\n\n@{body('Create_Error_Table')}\n\n<br>\n<p><a href=\"@{outputs('Run_URL')}\">View Run History</a></p>\n</div>\n",
                  "emailMessage/Importance": "High"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "22222222-3333-4444-5555-666666666666"
          },
          "type": "Scope"
        },
        "Finally": {
          "actions": {
            "ResponseBody": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d9793e8c-f940-42fa-a04a-015cc920324f"
              },
              "type": "Compose",
              "inputs": {
                "summary": {
                  "totalRows": "@variables('TotalRows')",
                  "errorCount": "@length(variables('Errors'))",
                  "StartDate": "@variables('StartDate')",
                  "EndDate": "@variables('EndDate')"
                },
                "errors": "@variables('Errors')"
              }
            },
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {
                "ResponseBody": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d889040c-2b98-4ba2-8e5c-e10f79aa9724"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "body": "@{outputs('ResponseBody')}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "title": "Body",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8daf21a-f998-4d60-b46f-b1b07078127b"
          },
          "type": "Scope"
        },
        "Initialize_variable_StartDate": {
          "runAfter": {
            "Initialize_variable_TotalRows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92be3048-2a8b-46cd-be3b-f46105c47061"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StartDate",
                "type": "object"
              }
            ]
          }
        },
        "Initialize_variable_EndDate": {
          "runAfter": {
            "Initialize_variable_StartDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb7d724d-0d1d-499b-b577-ef3d46320785"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EndDate",
                "type": "object"
              }
            ]
          }
        },
        "Initialize_variable_Date_Name": {
          "runAfter": {
            "Initialize_variable_EndDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02fcd253-64d8-40c6-9ed6-baf6625b718c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Date Name",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}