Workflows/CaseSamplingProcessCSVContentForParseImport-B8263CFF-3128-F111-88B4-00224800D8F0.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedoffice365_054c6"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2c8bf52f-b01f-4691-bdc2-c9b6b3e5729a"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                }
              },
              "required": []
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Is_xlsx": {
              "actions": {
                "Run_a_Child_Flow": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d6a5b3d4-333b-4b33-9c0a-1802a901a43a"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "bf5e59c2-c92d-f111-88b5-00224800d883"
                    },
                    "body": {
                      "text": "@concat('temp_',triggerBody()?['file']?['name'], guid(), '.xlsx')",
                      "text_1": "@triggerBody()?['file']?['contentBytes']"
                    }
                  }
                },
                "Set_base64.xlsx": {
                  "runAfter": {
                    "Run_a_Child_Flow": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "846a5211-3e18-4873-a1e4-afc34592a2c7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "base64",
                    "value": "@{base64ToString(outputs('Run_a_Child_Flow')?['Body']?['content'])}"
                  }
                }
              },
              "runAfter": {
                "Run_URL": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_base64.csv": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "37ee4cb7-2a45-465e-aaf2-34a45267fbf6"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "base64",
                      "value": "@{base64ToString(triggerBody()?['file']?['contentBytes'])}"
                    }
                  }
                }
              },
              "expression": {
                "endsWith": [
                  "@triggerBody()?['file/name']",
                  ".xlsx"
                ]
              },
              "metadata": {
                "operationMetadataId": "9507bb9b-8974-4bc8-a6b6-737a55924dca"
              },
              "type": "If"
            },
            "Run_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2f4bdebb-e69b-49a8-9222-75dd330181ac"
              },
              "type": "Compose",
              "inputs": "@concat('https://make.powerautomate.com/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']?['name'])"
            }
          },
          "runAfter": {
            "Initialize_base64": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Filter_Failed": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "57409516-efc7-46e6-a6a4-21ec832e3278"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Map_Failed": {
              "runAfter": {
                "Filter_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f0032f56-2c04-4048-8ee9-6e189f932416"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_Failed')",
                "select": {
                  "action": "@item()?['name']",
                  "code": "@item()?['error']?['code']",
                  "message": "@item()?['error']?['message']",
                  "time": "@item()?['endTime']"
                }
              }
            },
            "Create_Error_Table": {
              "runAfter": {
                "Map_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "01a83cf9-4682-4f74-9cd4-7dad28af369f"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Map_Failed')",
                "format": "HTML"
              }
            },
            "Send_Error_Notification_Email": {
              "runAfter": {
                "Create_Error_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "66666666-7777-8888-9999-aaaaaaaaaaaa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "Maheshwar.Yanala@dwp.gov.uk",
                  "emailMessage/Subject": "Action Required: Data Ingestion Automation Error",
                  "emailMessage/Body": "<style>\n/* GDS Table Styles */\ntable {\nborder-collapse: collapse;\nwidth: 100%;\nfont-family: \"GDS Transport\", Arial, sans-serif;\nfont-size: 19px;\ncolor: #0b0c0c;\nmargin-bottom: 30px;\n}\nth {\nborder-bottom: 1px solid #b1b4b6;\ntext-align: left;\npadding: 10px 20px 10px 0;\nfont-weight: 700;\n}\ntd {\nborder-bottom: 1px solid #b1b4b6;\npadding: 10px 20px 10px 0;\ntext-align: left;\nvertical-align: top;\n}\ntr:last-child td {\nborder-bottom: none;\n}\n</style>\n\n<div style=\"font-family: Arial, sans-serif; font-size: 19px; color: #0b0c0c;\">\n\n<p>The data ingestion automation requires attention:</p>\n\n@{body('Create_Error_Table')}\n\n<br>\n<p><a href=\"@{outputs('Run_URL')}\">View Run History</a></p>\n</div>\n",
                  "emailMessage/Importance": "High"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2c3d4e5-f6a7-8901-bcde-f12345678902"
          },
          "type": "Scope"
        },
        "Finally": {
          "actions": {
            "HTTP_Response": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "23c5aebf-85ba-4679-bbac-a7931eafb237"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "content": "@{variables('base64')}",
                  "status": "",
                  "message": "",
                  "errors": "@coalesce(body('Map_Failed'), json('[]'))"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3d4e5f6-a7b8-9012-cdef-123456789013"
          },
          "type": "Scope"
        },
        "Initialize_base64": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "db8908d5-5893-424c-8fd4-684bde051bef"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "base64",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}