Workflows/CaseSamplingETLExcelReaderInstant-8CE76635-371E-F111-8342-00224800D8F0.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedwebcontents_5e09b"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedsharepointonline_7c521"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedcommondataserviceforapps_bee9c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dwp_sharedoffice365_75583"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "FQM Shared Documents (dwp_FQMSharedDocuments)": {
          "defaultValue": "https://dwpgovuk.sharepoint.com/sites/SRO-23513",
          "type": "String",
          "metadata": {
            "schemaName": "dwp_FQMSharedDocuments",
            "description": "The SharePoint URL of the FQM SharePoint site used for file storage."
          }
        },
        "FQM File Ingestion Upload Path (dwp_FQMFileIngestionUploadPath)": {
          "defaultValue": "/Shared Documents/Data Ingestion Upload",
          "type": "String",
          "metadata": {
            "schemaName": "dwp_FQMFileIngestionUploadPath",
            "description": "The path of the folder (located on the FQM SharePoint site) which uploaded files will land when uploaded via the QA app."
          }
        },
        "FQM Shared Documents Library GUID (dwp_FQMSharedDocumentsLibraryGUID)": {
          "defaultValue": "3a6b7cc4-0a32-4eaf-b31b-8ece84700681",
          "type": "String",
          "metadata": {
            "schemaName": "dwp_FQMSharedDocumentsLibraryGUID",
            "description": "The guid of the \"Shared Documents\" library on the FQM SharePoint site."
          }
        },
        "Data Ingestion Fatal Error Contacts (dwp_DataIngestionFatalErrorContacts)": {
          "defaultValue": "jamie.white6@dwp.gov.uk",
          "type": "String",
          "metadata": {
            "schemaName": "dwp_DataIngestionFatalErrorContacts",
            "description": "The email addresses of individuals who will be contacted in the event of a fatal failure of the FQM data ingestion process. For more than one email address, use a semi-colon delimiter."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7971bacd-469c-41e7-87b2-fad2004f095f"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Import Log ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "ID of the import log row for the uploaded file",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "Return Data",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "number": {
                  "title": "System Error Code",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "The relevant choice value in the data ingestion error log table defining system errors.",
                  "x-ms-content-hint": "NUMBER"
                },
                "number_1": {
                  "title": "Ingestion Stage Code",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "The data ingestion stage that the error occurred at, this should be the relevant choice value in the data ingestion error log table.",
                  "x-ms-content-hint": "NUMBER"
                }
              },
              "required": [
                "text",
                "boolean",
                "number",
                "number_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Run_URL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2f4bdebb-e69b-49a8-9222-75dd330181ac"
              },
              "type": "Compose",
              "inputs": "@concat('https://make.powerautomate.com/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']?['name'])"
            },
            "Is_Sheet": {
              "actions": {
                "GET_workbook_tables": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0ba6cf61-a640-4bf3-b279-148335feb7c6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "https://graph.microsoft.com/v1.0/drives/@{outputs('Get_file_properties')?['body/{DriveId}']}/items/@{outputs('Get_file_properties')?['body/{DriveItemId}']}/workbook/tables"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Has_tables": {
                  "actions": {
                    "GET_workbook_table_data": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "808730b3-86f2-4078-a44c-30c28318aa9f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_webcontents",
                          "operationId": "InvokeHttp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                        },
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://graph.microsoft.com/v1.0/drives/@{outputs('Get_file_properties')?['body/{DriveId}']}/items/@{outputs('Get_file_properties')?['body/{DriveItemId}']}/workbook/tables/@{encodeUriComponent(body('GET_workbook_tables')?['value'][0]?['name'])}/range",
                          "request/headers": {
                            "Accept": "application/json",
                            "Conent-Type": "application/json"
                          }
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "GET_workbook_tables": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "GET_worksheets": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "dffde127-0e2e-479b-8017-7c60177a0559"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_webcontents",
                            "operationId": "InvokeHttp",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                          },
                          "parameters": {
                            "request/method": "GET",
                            "request/url": "https://graph.microsoft.com/v1.0/drives/@{outputs('Get_file_properties')?['body/{DriveId}']}/items/@{outputs('Get_file_properties')?['body/{DriveItemId}']}/workbook/worksheets"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      },
                      "GET_worksheet_data": {
                        "runAfter": {
                          "GET_worksheets": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "dffde127-0e2e-479b-8017-7c60177a0559"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_webcontents",
                            "operationId": "InvokeHttp",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                          },
                          "parameters": {
                            "request/method": "GET",
                            "request/url": "https://graph.microsoft.com/v1.0/drives/@{outputs('Get_file_properties')?['body/{DriveId}']}/items/@{outputs('Get_file_properties')?['body/{DriveItemId}']}/workbook/worksheets('@{body('GET_worksheets')?['value']?[0]?['name']}')/usedRange"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('GET_workbook_tables')?['body']?['value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6beb7086-8552-4d8e-88c7-ffb19758d94d"
                  },
                  "type": "If",
                  "description": "If it doesn't have tables then we need to get the used range from the specified worksheet"
                },
                "Compose_Excel_Row_Values": {
                  "runAfter": {
                    "Has_tables": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3a4c7e90-4f9c-4c5c-8e34-4d84c890e5f8"
                  },
                  "type": "Compose",
                  "inputs": "@coalesce(body('GET_workbook_table_data')?['values'], body('GET_worksheet_data')?['values'])"
                },
                "Excel_Headers": {
                  "runAfter": {
                    "Map_Indexed_Excel_Rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6311aeeb-b2a8-4b2b-95ed-a05f0302625c"
                  },
                  "type": "Compose",
                  "inputs": "@first(outputs('Compose_Excel_Row_Values'))"
                },
                "Set_variable_Excel_Headers": {
                  "runAfter": {
                    "Is_Empty_Excel_Headers": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5d4cdfd2-d2c8-4405-95d7-3dcad5a776b1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Headers",
                    "value": "@outputs('Excel_Headers')"
                  }
                },
                "Map_Indexed_Excel_Rows": {
                  "runAfter": {
                    "Compose_Excel_Row_Values": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ce864ccb-0642-487d-9f94-b1120a568051"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@range(0, length(outputs('Compose_Excel_Row_Values')))",
                    "select": {
                      "RowNumber": "@add(item(), 1)",
                      "Data": "@outputs('Compose_Excel_Row_Values')[item()]"
                    }
                  }
                },
                "Is_Empty_Excel_Headers": {
                  "actions": {
                    "Set_variable_Errors_Missing_Excel_Header": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "21cea93c-c5f1-407c-9472-664f75d25b70"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Errors",
                        "value": [
                          {
                            "RowNumber": 1,
                            "Data": "@outputs('Excel_Headers')",
                            "ErrorCode": "UnprocessedContent",
                            "ErrorMessage": "Validation failed: Missing required header row."
                          }
                        ]
                      }
                    },
                    "Set_variable_FataError_Excel": {
                      "runAfter": {
                        "Set_variable_Errors_Missing_Excel_Header": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a4455230-2b90-41cc-ab0e-d94963d4c8eb"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "FatalError",
                        "value": true
                      }
                    }
                  },
                  "runAfter": {
                    "Excel_Headers": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Excel_ReturnData": {
                        "actions": {
                          "Filter_Empty_Excel_Rows": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "24c9707e-5021-44f5-b8c8-c0d43e820ed0"
                            },
                            "type": "Query",
                            "inputs": {
                              "from": "@skip(body('Map_Indexed_Excel_Rows'), 1)",
                              "where": "@not(empty(join(item()?['Data'], '')))"
                            }
                          }
                        },
                        "runAfter": {},
                        "expression": {
                          "equals": [
                            "@triggerBody()['boolean']",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2eaae8c5-d7a9-4050-93cf-c75309674dd8"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "contains": [
                      "@outputs('Excel_Headers')",
                      ""
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1c0ac940-fdd1-4488-bc8e-d1be23d0119f"
                  },
                  "type": "If"
                },
                "Set_file_type_to_XLSX": {
                  "runAfter": {
                    "Set_variable_Excel_Headers": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0fd4d2f6-16e1-4970-a403-563bbe0a5eb6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "File Type",
                    "value": "XLSX"
                  }
                }
              },
              "runAfter": {
                "Get_file_properties": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Base64_to_String": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ae646983-005b-484f-900e-c01d966c8d24"
                    },
                    "type": "Compose",
                    "inputs": "@split(\r\n    replace(\r\n        replace(\r\n            base64ToString(outputs('Get_file_content_using_path')?['body/$content']), \r\n            decodeUriComponent('%EF%BB%BF'), \r\n            ''\r\n        ), \r\n        '\"', \r\n        ''\r\n    ), \r\n    decodeUriComponent('%0D%0A')\r\n)"
                  },
                  "CSV_Headers": {
                    "runAfter": {
                      "Base64_to_String": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "57252f5d-e578-41ad-b30a-6a4b376d32d9"
                    },
                    "type": "Compose",
                    "inputs": "@split(outputs('Base64_to_String')?[0], ',')"
                  },
                  "Set_variable_Headers": {
                    "runAfter": {
                      "Is_Empty_CSV_Headers": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6eee65d4-71d8-499f-9691-d7d5c792e448"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Headers",
                      "value": "@outputs('CSV_Headers')"
                    }
                  },
                  "Is_Empty_CSV_Headers": {
                    "actions": {
                      "Set_variable_Errors_Missing_CSV_Header": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "21cea93c-c5f1-407c-9472-664f75d25b70"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Errors",
                          "value": [
                            {
                              "RowNumber": 1,
                              "Data": "@outputs('CSV_Headers')",
                              "ErrorCode": "UnprocessedContent",
                              "ErrorMessage": "Validation failed: Missing required header row."
                            }
                          ]
                        }
                      },
                      "Set_variable_FataError": {
                        "runAfter": {
                          "Set_variable_Errors_Missing_CSV_Header": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a4455230-2b90-41cc-ab0e-d94963d4c8eb"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FatalError",
                          "value": true
                        }
                      }
                    },
                    "runAfter": {
                      "CSV_Headers": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "CSV_ReturnData": {
                          "actions": {
                            "Number_CSV_Data_Lines": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "22a1eebe-fe96-49f8-b07d-bc8a5bc46f00"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@range(1, sub(length(outputs('Base64_to_String')), 2))",
                                "select": {
                                  "RowNumber": "@add(item(), 1)",
                                  "Data": "@outputs('Base64_to_String')?[item()]"
                                }
                              }
                            },
                            "Filter_Valid_CSV_Rows": {
                              "runAfter": {
                                "Number_CSV_Data_Lines": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a4710766-e6ce-4c17-b071-f994f85d533b"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@body('Number_CSV_Data_Lines')",
                                "where": "@equals(length(split(item()?['Data'], ',')), length(split(outputs('Base64_to_String')[0], ',')))"
                              }
                            },
                            "Filter_Malformed_CSV_Rows": {
                              "runAfter": {
                                "Filter_Valid_CSV_Rows": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1bd75091-f6fe-4bff-a00e-e69cb807861d"
                              },
                              "type": "Query",
                              "inputs": {
                                "from": "@body('Number_CSV_Data_Lines')",
                                "where": "@not(equals(length(split(item()?['Data'], ',')), length(split(outputs('Base64_to_String')[0], ','))))"
                              }
                            },
                            "Map_CSV_Errors": {
                              "runAfter": {
                                "Filter_Malformed_CSV_Rows": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b59c1596-c4c8-45f1-92c7-1ae4fa701a81"
                              },
                              "type": "Select",
                              "inputs": {
                                "from": "@body('Filter_Malformed_CSV_Rows')",
                                "select": {
                                  "RowNumber": "@item()?['RowNumber']",
                                  "Data": "@item()['Data']",
                                  "ErrorCode": "UnprocessedContent",
                                  "ErrorMessage": "@concat('Column count mismatch. Expected: ', length(split(outputs('Base64_to_String')?[0], ',')), ' Actual: ', length(split(item()?['Data'], ',')), '.')"
                                }
                              }
                            },
                            "Set_variable_CSV_Errors": {
                              "runAfter": {
                                "Map_CSV_Errors": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "95205b50-6808-4921-9521-f7c5084ee528"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Errors",
                                "value": "@body('Map_CSV_Errors')"
                              }
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "equals": [
                              "@triggerBody()['boolean']",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "fcdf0f20-ec6b-4ac2-b4f3-0a364245469e"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "contains": [
                        "@outputs('CSV_Headers')",
                        ""
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1c0ac940-fdd1-4488-bc8e-d1be23d0119f"
                    },
                    "type": "If"
                  },
                  "Set_file_type_to_CSV": {
                    "runAfter": {
                      "Set_variable_Headers": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b5bd0427-24a9-44fd-9b67-e264f386f38a"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "File Type",
                      "value": "CSV"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@endsWith(body('Get_file_content_using_path')?['$content-type'], '.sheet')",
                  true
                ]
              },
              "metadata": {
                "operationMetadataId": "7ba6f62e-0837-4e89-9a90-53a6de95534f"
              },
              "type": "If",
              "description": "If it's not a sheet then it's a csv. Trigger conditions stipulate that it must be .xlsx or .csv"
            },
            "Not_Fatal_Error_And_ReturnData": {
              "actions": {
                "Ingestion_Array": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "36306c1e-e7c0-43ee-810e-a08a5eb24449"
                  },
                  "type": "Compose",
                  "inputs": "@coalesce(body('Filter_Empty_Excel_Rows'), body('Filter_Valid_CSV_Rows'))"
                },
                "Apply_to_each": {
                  "foreach": "@outputs('Ingestion_Array')",
                  "actions": {
                    "Current_Row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3fddecb2-fd70-4421-aac6-7283d306882f"
                      },
                      "type": "Compose",
                      "inputs": "@item()"
                    },
                    "Map_Row": {
                      "runAfter": {
                        "Current_Row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "68cc68ad-4c91-4237-8e20-e3d93b1005a0"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@range(0, length(variables('Headers')))",
                        "select": "@concat('\"', variables('Headers')?[item()], '\":\"', if(equals(string(items('Apply_to_each')?['Data']), items('Apply_to_each')?['Data']), split(items('Apply_to_each')?['Data'], ',')?[item()], items('Apply_to_each')?['Data']?[item()]), '\"')"
                      }
                    },
                    "Row_Object": {
                      "runAfter": {
                        "Map_Row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e2a1b565-0f0c-4ab2-bd31-1d1f39a810c3"
                      },
                      "type": "Compose",
                      "inputs": "@json(\r\n  concat(\r\n    '{\"RowNumber\": \"', items('Apply_to_each')?['RowNumber'], '\", ',\r\n    join(body('Map_Row'), ','), \r\n    '}'\r\n  )\r\n)"
                    },
                    "Append_to_variable_Data": {
                      "runAfter": {
                        "Row_Object": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "74200e9d-3c8a-435b-94d2-e387d7b391b7"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "Data",
                        "value": "@outputs('Row_Object')"
                      }
                    }
                  },
                  "runAfter": {
                    "Ingestion_Array": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5c70532e-dc81-4158-a042-02bfe0bb018a"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {
                "Is_Sheet": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('FatalError')",
                      false
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()['boolean']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "2936623c-83af-4594-bd55-b6d3d1d979c4"
              },
              "type": "If"
            },
            "Get_file_properties": {
              "runAfter": {
                "Get_file_content_using_path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9a58d89d-e80b-4dca-87d7-347d1f3a4a24"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('FQM Shared Documents (dwp_FQMSharedDocuments)')",
                  "table": "@parameters('FQM Shared Documents Library GUID (dwp_FQMSharedDocumentsLibraryGUID)')",
                  "id": "@outputs('Get_file_metadata_using_path')?['body/ItemId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_file_content_using_path": {
              "runAfter": {
                "Get_file_metadata_using_path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0655e93a-1579-4d57-8c19-27eab54fb308"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileContentByPath",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('FQM Shared Documents (dwp_FQMSharedDocuments)')",
                  "path": "@{parameters('FQM File Ingestion Upload Path (dwp_FQMFileIngestionUploadPath)')}/@{outputs('Get_file_name_for_the_file_to_be_processed')?['body/dwp_filename']}",
                  "inferContentType": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_file_name_for_the_file_to_be_processed": {
              "runAfter": {
                "Run_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1627237b-f1d2-4636-9376-32ea63788cfd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "dwp_importlogs",
                  "recordId": "@triggerBody()['text']",
                  "$select": "dwp_importlogid, dwp_filename"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_file_metadata_using_path": {
              "runAfter": {
                "Get_file_name_for_the_file_to_be_processed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "29fe4d8a-df0a-422f-ac79-6084e65057ed"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetFileMetadataByPath",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('FQM Shared Documents (dwp_FQMSharedDocuments)')",
                  "path": "@{parameters('FQM File Ingestion Upload Path (dwp_FQMFileIngestionUploadPath)')}/@{outputs('Get_file_name_for_the_file_to_be_processed')?['body/dwp_filename']}"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_file_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "443aba87-938d-4fc2-9e4c-4d3899d73830"
          },
          "type": "Scope"
        },
        "Initialize_variable_Headers": {
          "runAfter": {
            "Initialize_System_Error_Code_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c4942d6-5537-4071-bf9c-e4bd8ebfc88b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Headers",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_Data": {
          "runAfter": {
            "Initialize_variable_Headers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0121e02d-5aef-4b2b-a67c-3e4c29262618"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Data",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_Errors": {
          "runAfter": {
            "Initialize_variable_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1d60570-6607-46c8-b3fd-21e93b162a0d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Errors",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_FatalError": {
          "runAfter": {
            "Initialize_variable_Errors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18c5363b-e8b1-4763-b8f5-22c2c88ddeb8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FatalError",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Create_Error_Table": {
              "runAfter": {
                "Filter_array_Failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "01a83cf9-4682-4f74-9cd4-7dad28af369f"
              },
              "type": "Table",
              "inputs": {
                "from": "@body('Filter_array_Failed')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Action",
                    "value": "@item()?['name']"
                  },
                  {
                    "header": "Code",
                    "value": "@item()?['error']?['code']"
                  },
                  {
                    "header": "Message",
                    "value": "@item()?['error']?['message']"
                  },
                  {
                    "header": "Time",
                    "value": "@item()['endTime']"
                  }
                ]
              }
            },
            "Filter_array_Failed": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "99d3e265-8a3f-4c07-b135-e2382418426f"
              },
              "type": "Query",
              "inputs": {
                "from": "@result('Try')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Set_variable": {
              "runAfter": {
                "Create_Error_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93ef56c9-176e-4593-8f03-fca7c5ed9595"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Errors",
                "value": [
                  {
                    "RowNumber": "N/A",
                    "Data": "N/A",
                    "ErrorCode": "@{body('Filter_array_Failed')?[0]?['error']?['code']}",
                    "ErrorMessage": "@{body('Filter_array_Failed')?[0]?['error']?['message']}"
                  }
                ]
              }
            },
            "Log_System_Error": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "89cc9a49-1309-449f-8e20-c0b9ba6b3315"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5943d773-c729-f111-88b3-00224800ddab"
                },
                "body": {
                  "text": "@triggerBody()['text']",
                  "number": "@variables('System Error Code')",
                  "number_1": "@variables('Ingestion Stage Code')",
                  "text_1": "ETL Excel Reader Power Automate flow failed. The 'try' block could not be executed. Developer assistance required to review automation run logs.",
                  "boolean": true
                }
              }
            },
            "Send_Logging_Error_Notification_Email": {
              "runAfter": {
                "Log_System_Error": [
                  "Skipped",
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "09f4ead9-f306-43c4-9c94-ea76aebae11b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@parameters('Data Ingestion Fatal Error Contacts (dwp_DataIngestionFatalErrorContacts)')",
                  "emailMessage/Subject": "Action Required: FQM Data Ingestion ETL Excel Reader Failure",
                  "emailMessage/Body": "<style>\n/* GDS Table Styles */\ntable {\nborder-collapse: collapse;\nwidth: 100%;\nfont-family: \"GDS Transport\", Arial, sans-serif;\nfont-size: 19px;\ncolor: #0b0c0c;\nmargin-bottom: 30px;\n}\nth {\nborder-bottom: 1px solid #b1b4b6;\ntext-align: left;\npadding: 10px 20px 10px 0;\nfont-weight: 700;\n}\ntd {\nborder-bottom: 1px solid #b1b4b6;\npadding: 10px 20px 10px 0;\ntext-align: left;\nvertical-align: top;\n}\ntr:last-child td {\nborder-bottom: none;\n}\n</style>\n\n<div style=\"font-family: Arial, sans-serif; font-size: 19px; color: #0b0c0c;\">\n\n<p>The \"ETL Excel Reader\" process requires attention:</p>\n<b>Import Log ID:</b> @{triggerBody()['text']}<br>\n<b>Date and Time of Failure:</b> @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}<br>\n<b>Details:</b> The initial failure originated in the \"ETL Excel Reader\" process, which encountered a system error. As part of the error‑handling routine, the parent flow attempted to call the error‑logging process to record the details of this failure. However, the error‑logging process also failed to execute successfully. As a result, while the underlying issue was a system failure in the \"ETL Excel Reader\" flow, the logs generated (if any) may be incomplete or inaccurate due to the additional failure within the logging mechanism itself.\n\n<br>\n<p><a href=\"@{outputs('Run_URL')}\">View Run History</a></p>\n</div>\n",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "22222222-3333-4444-5555-666666666666"
          },
          "type": "Scope"
        },
        "Finally": {
          "actions": {
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d889040c-2b98-4ba2-8e5c-e10f79aa9724"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "headers": "@{string(variables('Headers'))}",
                  "data": "@{string(variables('Data'))}",
                  "errors": "@{string(variables('Errors'))}",
                  "file_type": "@variables('File Type')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "headers": {
                      "title": "Headers",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "data": {
                      "title": "Data",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "errors": {
                      "title": "Errors",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "file_type": {
                      "title": "File Type",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8daf21a-f998-4d60-b46f-b1b07078127b"
          },
          "type": "Scope"
        },
        "Initialize_Ingestion_Stage_Code_Value": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9a10d30c-9ceb-429a-98d0-4d90cd76bab6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Ingestion Stage Code",
                "type": "integer",
                "value": "@triggerBody()['number_1']"
              }
            ]
          }
        },
        "Initialize_System_Error_Code_Value": {
          "runAfter": {
            "Initialize_Ingestion_Stage_Code_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a10d30c-9ceb-429a-98d0-4d90cd76bab6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "System Error Code",
                "type": "integer",
                "value": "@triggerBody()['number']"
              }
            ]
          }
        },
        "Initialize_file_type": {
          "runAfter": {
            "Initialize_variable_FatalError": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a5388897-2120-4b6a-8b61-a75ac98f95b8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "File Type",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}